html,
body {
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Global Colors */
:root {
  --main-bg-color: #181818;
  --main-a-color: #0070f3;
  --main-txt-color: #fff;
  --footer-divider: #eaeaea;
  --main-code-color: #212121;
}


/* Light Theme */
@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #fff;
    --main-a-color: #0070f3;
    --main-txt-color: #000;
    --footer-divider: #eaeaea;
    --main-code-color: #fafafa;
  }
}