html,
body {
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);
  /*padding: 0;
  margin: 0;*/
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border-width: 4px;
  border-color: transparent;
  border-style: solid;
  background-clip: content-box;
  background-color: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  border-width: 4px;
  border-color: transparent;
  border-style: solid;
  background-clip: content-box;
  background-color: var(--scrollbar-hover);
}

/* Global Colors */
:root {
  --main-bg-color: #181818;
  --main-a-color: #0070f3;
  --main-card-color: #0070f3;
  --main-txt-color: #fff;
  --footer-divider: #eaeaea;
  --main-border: #eaeaea;
  --main-code-color: #212121;
  --scrollbar-color: #909090;
  --scrollbar-hover: #606060;
}


/* Light Theme */
@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #fff;
    --main-a-color: #0070f3;
    --main-card-color: #0070f3;
    --main-txt-color: #000;
    --footer-divider: #eaeaea;
    --main-border: #eaeaea;
    --main-code-color: #e9e9e9;
  }
}